<div id="header">
<h1>Sweety <em>Beta</em></h1>
<b>Bitte scanne Deinen Benutzer-Barcode oder Artikel-Barcode. Alternativ geben Deine BenutzerID ein</b>
</div>
	<% form_remote_tag :url => { :action => 'logging_in'}, :html => {:autocomplete => 'off'} do %>
	<%= text_field_tag(:barcode,value=flash[:notice]) %>
	<%= set_focus_to_id 'barcode' %>
  <% end %>

<% # "IP Addresse: " + request.remote_ip + " Host: " + request.host %>