<h1 id="barcodename"><%= @name %></h1>
<%= barcode @code, 
			:encoding_format => Gbarcode::BARCODE_EAN, 
			:height => 100, 
            :width  => 200,
		    :margin => 50,
		    :xoff   => 20,
		    :yoff   => 40
%>